 .caption {
  position: absolute;
  width: 499px;
  height: 162px;
  left: 114px;
  top: 200px;
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 54.5px;
  line-height: 74px;
  
  color: #83765F;
 }

 .descr{
  position: absolute;
  width: 499px;
  height: 86px;
  left: 114px;
  top: 362px;
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  
  color: #83765F;  
 }

 .start{
  position: absolute;
  width: 253px;
  height: 64px;
  left: 114px;
  top: 485px;
  
  background: #7C8C64;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: absolute;
  width: 253px;
  height: 64px;
  left: 114px;
  top: 485px;

  position: absolute;
  width: 253px;
  height: 64px;
  left: 114px;
  top: 485px;

  background: #7C8C64;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
 }

 .butterfly{
  position: absolute;
  width: 194.24px;
  height: 192.75px;
  left: 1022.06px;
  top: 110px;
 }

 .basket{
  position: absolute;
  width: 252px;
  height: 375px;
  left: 829px;
  top: 362px;
 }

 .middleRound{
  position: absolute;
  width: 455px;
  height: 824px;
  left: 780px;
}

.leftRound{
  position: absolute;
  width: 585px;
  height: 356px;
  top: 800px;
}

.rightRound{
position: absolute;
right: 0;
top: 900px;
}
.header{
  display: flex;
    /* display: inline-block; */
    /* display: inline-block; */
    margin: auto;
    background: #FFFFFF;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 5%);
    align-content: flex-end;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.header .community{
  display: inline-block;
  width: fit-content;
  display: flex;
}

.line {
  display: block;
  height: 3px;
  background: black;
  width: 100%;
  margin-top: 10px;
}
/* copy */
/* Global */
body {
  background: #fafafa;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: rgba(0,0,0,.8);
}
h1, h2 {
  margin: 0;
}
a {
  color: #00ab6b;
  text-decoration: none;
}
/* helpers */
.clearfix:after {
  content:"";
  display:block;
  clear:both;
}
/* Fonts */
.droid {
  font-family: 'Droid Serif', serif;
}
/* Components */
.container {
  max-width: 740px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
left: 136px;
top: 45px;

font-family: Open Sans;
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 52px;

color: #7C8C64;
  padding: 20px 20px 0 20px;
  margin-bottom: 30px;
}
.footer {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 0 20px; 
}
.copyright {
  float: right;
}
.site-title {
  margin-bottom: 20px;
}
.site-title a {
  color: rgba(0,0,0,.8);
}
.site-title__tag {
  float: right;
  color: #aaa;
  font-size: 14px;
  margin-top: 10px;
}
.card {
  display: flex;
    margin-bottom: 40px;
    background: #fff;
    box-shadow: 0 1px 4px rgb(0 0 0 / 4%);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 3px;
    cursor: pointer;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-style: normal;
    color: #7C8C64;
    width: 80%;
    margin-left: 100px;
}
.card-padding {
  padding: 20px;
}
.no-link {
  cursor: default;
}
/* Blog page */
.blog__title {
  margin-bottom: 20px;
  font-size: 40px;
}
.blog__title--small {
  font-size: 29px;
}
.blog__title a {
  color: rgba(0,0,0,.8);
}
.blog__teaser,
.blog__content {
  margin-bottom: 30px;
  --x-height-multiplier: 0.35;
  --baseline-multiplier: 0.179;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
}
.blog__author {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.blog__author-title {
  position: relative;
  top: 7px;
  float: left;
  color: #666;
}
.blog__author-image {
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  margin-right: 10px;
}
.blog__tags {
  margin-bottom: 20px;
}
.tag-pill {
  border: none;
  color: rgba(0,0,0,.6);
  background: rgba(0,0,0,.05);
  margin-right: 10px;
  padding: 8px 10px 10px 10px;
  font-size: 13px;
}
.blog-post-hero {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}
.blog-post-hero--short {
  height: 250px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin-bottom: 0;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  position: absolute;
  width: 286px;
  height: 363px;
  right: 0;
  top: 163px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 10%);
  border-radius: 5px;
}
.content{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
}
.left {
  display: flex;
  flex-direction: column;

  position: absolute;
  width: 877px;
  height: 893px;
  left: 144px;
  top: 163px;
  overflow-y: scroll;
}
/* Author page */
.author-page-title {
  margin-bottom: 15px;
}

/* how it work */
.title {
  margin-top: 80px;
  margin-bottom: 60px;
  width: 565px;
  height: 56px;
  font-family: 'Open Sans';
  font-style: normal;
  text-align: center;
  color: #7C8C64;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
}

.title p{
  color: #A3A3A3;
}
.rect {
  float: left;
  background-color: #F1EFE4;
  display: flex;
  width: 100%;
  height: 399px;
  left: -30px;
  top: 348px;
}

.sCard{
  width: 33%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.sCard p{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #83765F;
}

.sCard h2{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  color: #7C8C64;
}